{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}FilmappBundle:Genre:createGenre{% endblock %}

{% block body %}
<h1>Welcome to the Genre:createGenre page</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}
